.flex {
  display: flex;
  gap: 2.2rem;
}
.grid {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.whiteSpace {
  white-space: nowrap;
}
.appHeader {
  height: 100vh;
  position: relative;
}
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: inherit;
  margin-top: -7rem;
}
.mainHeading {
  font-size: 4rem;
  white-space: nowrap;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.primaryTagLine {
  font-size: 3.5rem;
  white-space: nowrap;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.secondaryTagLine {
  font-size: 3rem;
  white-space: nowrap;
  line-height: 1.1;
  margin-bottom: 3rem;
}
.animationSpan {
  padding: 1.5rem;
  display: inline-block;
  background-color: var(--orange);
  perspective: 100rem;
  transform: rotate3d(1, 1, 1, 2.5deg);
}
.animationControls {
  animation: upanddown 0.6s linear infinite alternate;
}
.animations {
  position: absolute;
  font-size: 2.5rem;
}
.rocketAnimation {
  left: 3%;
  top: 16rem;
}
.chartAnimation {
  right: 5%;
  top: 12rem;
}
.lightningAnimation {
  right: 11%;
  top: 73rem;
}
.confettiAnimation {
  left: 11%;
  top: 70rem;
}
.animationSpan span div {
  font-size: 3rem;
}
.customLinkSection {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.secondaryHeading {
  text-align: center;
  font-size: 3rem;
  white-space: nowrap;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.column {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  align-items: center;
  flex-direction: column;
  max-height: 40rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 2rem;
}
.link {
  background-color: var(--orange);
  padding: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
.description {
  line-height: 1.1;
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* animations */

@keyframes upanddown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(8%);
  }
}
@media only screen and (max-width: 750px) {
  .mainHeading {
    font-size: 2rem;
  }
  .primaryTagLine {
    font-size: 1.8rem;
  }
  .secondaryTagLine {
    font-size: 1.8rem;
  }
  .animationSpan span div {
    font-size: 1.8rem;
  }
  .secondaryHeading {
    font-size: 2rem;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}
