:root {
  --white-seconday: #eee;
  --white-primary: #ffffff;
  --purple: #7640ed;
  --orange: #fa5f55;
  --black: #000000;
  --base: #121212;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Major Mono Display', monospace;
  color: var(--base);
  background-color: var(--white);
}
.rect {
  background-color: white;
}
@media (prefers-color-scheme: dark) {
  body {
    box-sizing: border-box;
    font-family: 'Major Mono Display', monospace;
    background-color: var(--base);
    color: var(--white-seconday);
  }
  .rect {
    background-color: var(--base);
  }
}
